
@media screen and (max-width: 10000px) {
    body {
      background-color: rgb(168, 218, 218);
    }
@media screen and (max-width: 600px) {
    body {
      background-color: rgb(104, 214, 132);
    }
#main-doc{
    float: right;
}
.main{
    background-color: white;
    margin: 0 auto;
    border-radius: 4px;
    width: 75%;
    max-width: 900px;
    padding: 10px;
    padding-top: 20px;
    align-content: center
}
.link{
    height:20%;
    border: blue;
    float: left;
    background-color: black;
    display: inline-block;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    width: 300px;
    position: fixed;
    background-image: url(../adrian/prism.png);
    color: white !important;
}
button{
    position: fixed;
}
}